body {
margin: 0;

}

.flex-column {
  flex-direction: column;
}

.keyboard-container {
  position: fixed;
  top: 25%;
  margin: 10px;
  border: 1px solid;
  height: 50%;
}

.keyboard-row {
  width: 100%;
  max-height: 25%;
  display: flex;
  margin: 5px auto;
}

.keyboard-key {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.command {
  height: 25px;
  width: 50px;
}

.letter {
  height: 25px;
  width: 25px;
}

.fkey {
  display: flex;
  justify-content: space-evenly;
  width: 50px;
}

.number {
  height: 45px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.keyboard-key.fkey > .material-icons, .keyboard-key.number > .material-icons {
  font-size: .5em;
}

.fkey-label {
  font-size: .5em;
}

.number-label, .number-icon {
  font-size: 1.2em;
  font-weight: 400;
}
